.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;
  font-size: 14px;
  .made-with-love {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 5px 0px;
    flex: 1;
    order: 2;
    padding-right: 20px;
    justify-content: flex-end;
    .red-heart {
      color: red;
    }
  }
}

/* Medium screens */
@media all and (max-width: 425px) {
  .footer {
   .made-with-love {
      flex: 1 100%;
      justify-content: center;
      margin: 0;
    }
  }
}
